:root {
  --time: 300ms;
}

.page-enter {
  opacity: 0;
  transform: translateY(20px); /* Start below */
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--time) ease-out, transform var(--time) ease-out;
}

.page-exit {
  opacity: 1;
  transform: translateY(0); 
}

.page-exit-active {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity var(--time) ease-in, transform var(--time) ease-in;
}
